<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/welcome-style.css')}}">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top bg-primary navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Booking.drexel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link mx-2" href= {{ url_for('welcome') }}><i class="fas fa-plus-circle pe-2"></i>About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href={{ url_for('wishlist') }}><i class="fas fa-heart pe-2"></i>Wishlist</a>
            </li>
            {% if session['username'] %}
            <li class="nav-item ms-3">
              <a class="btn btn-warning btn-sm my-2 my-sm-0" href={{ url_for('logout') }}>Log out</a>
            </li>
            {% else %}
            <li class="nav-item ms-3">
              <a class="btn btn-warning btn-sm my-2 my-sm-0" href={{ url_for('login') }}>Sign in</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-left bg-primary">
      <div class="container d-flex align-items-left flex-column">
          <!-- Masthead Heading -->
          <h1 class="masthead-heading mb-0">Your guide to your stay in Drexel University</h1>
          <!-- Icon Divider -->
          <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
          </div>
          <!-- Masthead Subheading -->
          <p class="masthead-subheading font-weight-light mb-0">Made by Hung Do and Ben Tang</p>
      </div>
  </header>

    <div class="container">
      <form action="/welcome" method="post">
        <p class="searchText"><strong>Search For Hotel Rooms In Drexel Campus</strong></p>

        <!--First Row-->
        <div class="row">
          <div class="col-sm">
            <select class="browser-default custom-select mb-4" id="select" name="hotel" style="width:100%;max-width:90%;">
              <option value="0">Where do you want to go?</option>
              {% for hName in allHotels %}
              {% if hName==hotel %}
              <option value="{{ hName }}" selected>{{ hName }}</option>
              {% else %}
              <option value="{{ hName }}">{{ hName }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="col-sm">
            {% if session['fromDate'] %}
            From: <input type="date" name="fromDate" max="2023-09-01" id="from-date" value="{{session['fromDate']}}" onchange="toDateHandler(event)" required>
            {% else %}
            From: <input type="date" name="fromDate" max="2023-09-01" id="from-date" onchange="toDateHandler(event)" required>
            {% endif %}
          </div>

          <div class="col-sm">
            {% if session['toDate'] %}
            To: <input type="date" name="toDate" max="2023-09-01" id="to-date" value="{{session['toDate']}}" required>
            {% else %}
            To: <input type="date" name="toDate" max="2023-09-01" id="to-date" required>
            {% endif  %}
          </div>

          <div class="col-sm">
            <select class="browser-default custom-select mb-4" id="select" name="kids">
              <option value="0">Kids (0-14)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="col-sm">
            <select class="browser-default custom-select mb-4" id="select" name="adults">
              <option value="0">Adults (15+)</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="col-sm">
          <button type="submit" class="btn btn-primary btn-sm float-right col-sm">Search</button>
        </div>
        </div>
      </form>
    </div>

  <!-- Carousel -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='/img/Drexel_welcome.jpg') }}" class="d-block w-100" alt="Drexel">
        <div class="carousel-caption d-none d-md-block">
          <h2>Where You Should Stay at Drexel</h2>
          <p><strong>Here are some suggestions from our website. </strong></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/img/AKA-welcome.jpg') }}" class="d-block w-100" alt="AKA">
        <div class="carousel-caption d-none d-md-block">
          <h2>AKA Philadelphia</h2>
          <p>A group of residences lying at the heart of Cira Centre South’s groundbreaking vertical neighborhood.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/img/Akwaaba_welcome.jpg') }}" class="d-block w-100" alt="Akwaaba">
        <div class="carousel-caption d-none d-md-block">
          <h2>Akwaaba Philadelphia</h2>
          <p>A historic 1880s manor features a gracious porch and grounds along with six guest rooms and suites accommodating up to 20 lodgers.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/img/cornerstone_welcome.jpg') }}" class="d-block w-100" alt="Cornerstone">
        <div class="carousel-caption d-none d-md-block">
          <h2>Cornerstone Ben and Breakfast</h2>
          <p>A Victorian gem, the only Select Registry, Distinguished Inn of North America, property in the city.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/img/Inn_at_Penn_welcome.jpg') }}" class="d-block w-100" alt="Inn at Penn">
        <div class="carousel-caption d-none d-md-block">
          <h2>The Inn at Penn</h2>
          <p>A boutique-style Hilton hotel in the heart of University City.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/img/Sheraton-welcome.jpg') }}" class="d-block w-100" alt="Sheraton">
        <div class="carousel-caption d-none d-md-block">
          <h2>Sheraton Hotel</h2>
          <p>An ideal destination between the scenic campuses of University of Pennsylvania and Drexel University.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='/img/The-Study-welcome.jpg') }}" class="d-block w-100" alt="Study">
        <div class="carousel-caption d-none d-md-block">
          <h2>The Study</h2>
          <p>A unique destination where visitors, culture seekers, professors, students, families and locals intersect to enjoy approachable hospitality and a comfortable space to relax and renew.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <footer class="footer text-center">
    <div id="about" class="container">
                <h4 class="text-uppercase mb-4">About Booking.drexel</h4>
                <p class="lead mb-0">
                    Booking.drexel is a free to use website that helps students and parents find a place to stay
                    for the duration of their visit at Drexel University.
                </p>
                <p class="lead mb-0">
                  To use our website, simply choose which hotels you're likely to say, or AKA University City to get
                  general recommendations.
                </p>
                <p class="lead mb-0">
                  Once you see the search results, if you enter, you can wishlist these options so that you can view
                  and book them on your own time.
                </p>
    </div>
</footer>

  <div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; HungDo&BenTang 2022</small></div>
  </div>

    <!-- example of how to use url_for() -->
    <!-- <img src="{{ url_for('static', filename='/img/doge.png') }}" alt=""> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <script>
      $(document).ready(()=>{
        datesInit();
      });

      function datesInit(){
        const today = new Date().toISOString().split('T')[0];
        $("#from-date").attr("min", today);
        $("#to-date").attr("min", today);
      }

      function toDateHandler(e){
        document.getElementById("to-date").setAttribute("min", e.target.value);
      }
    </script>
  </body>
</html>
